
exercicio1/.idea/exercicio1.iml
exercicio1/.idea/inspectionProfiles/Project_Default.xml
exercicio1/.idea/misc.xml
exercicio1/.idea/inspectionProfiles/profiles_settings.xml
exercicio1/.idea/modules.xml
exercicio1/main.py
